# C extensions
*.so

# Distribution / packaging
wrapper/build/
wrapper/pycffirmware.egg-info/
wrapper/pycffirmware.py
wrapper/pycffirmware_wrap.c

# macOS users
.DS_Store

build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags

/cf2.*
/tag.*
*.gch

current_platform.mk

/generated-test/**
**/__pycache__/**

/docs/.jekyll-metadata
docs/.jekyll-cache
